@import url("https://fonts.googleapis.com/css2?family=Playball&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;600&display=swap");
/* MISC */
/* Palette */
/* FONT SIZE */
/* SPACINGS */
/* FONT FAMILY */
/* NORMALIZE */
/* VARIABLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: Fira Sans;
  font-size: 1.2em;
  color: #D2232A; }

ul {
  list-style-type: none; }

a {
  font-size: 1.6em;
  text-decoration: none;
  color: #fff; }

.container {
  max-width: 1250px;
  margin: 0 auto; }

h2 {
  font-family: Playball;
  font-size: 2.8em; }

h3 {
  font-family: Fira Sans;
  font-size: 2.4em; }

.subtitulos {
  font-size: 1.6em;
  color: #D2232A; }

a:hover {
  color: #D2232A; }

@media screen and (max-width: 800px) {
  .navbar {
    flex-direction: column;
    align-items: center; }
  .menu {
    justify-content: center;
    flex-wrap: wrap; }
  .story {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; }
  .story__provide {
    display: flex;
    flex-wrap: wrap; }
  .footer {
    flex-wrap: wrap; } }

.generalBanner, .banner__about, .banner {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 30em; }

/* PARTIALS */
header {
  background-color: #231F20;
  /*  padding: $sp-xs; */
  height: 6em;
  margin-top: 0; }

.navbar {
  display: flex;
  height: inherit;
  height: 6em;
  justify-content: space-between;
  background-color: #231F20;
  margin-top: auto;
  flex-wrap: wrap; }
  .navbar .navbar__link {
    display: flex;
    flex-direction: row;
    height: inherit;
    flex-wrap: wrap; }
    .navbar .navbar__link .navbar__link__img {
      align-items: center;
      justify-content: center;
      width: 10em; }
  .navbar .menu {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    height: inherit;
    flex-wrap: wrap; }
    .navbar .menu .menu__link {
      padding: 1rem 1.5rem; }

.footer {
  color: #fff;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-height: 33em;
  height: auto;
  margin-top: -2em;
  padding-top: 3em;
  padding-left: 3em; }
  .footer h2 {
    padding-bottom: 1em; }

/* PAGES */
.banner__about {
  background-image: url("../images/image 6.png");
  margin-top: 0;
  margin-right: 0;
  margin-left: 0%;
  margin-bottom: 5em; }
  .banner__about .banner__titleAbout {
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    justify-content: center;
    align-items: center;
    gap: no-gap;
    color: #fff;
    font-size: 4em;
    height: inherit;
    font-family: Playball; }

.about {
  padding-bottom: 5em;
  padding-bottom: 5em; }
  .about .about__parrafo__title {
    color: #231F20;
    padding-bottom: 1em; }
  .about .about__parrafo__text {
    color: #231F20;
    font-size: 1.2em;
    font-family: Fira Sans;
    line-height: 3.2rem; }

/* MEDIA QUERY */
@media screen and (max-width: 800px) {
  .navbar {
    flex-direction: column;
    align-items: center; }
  .menu {
    justify-content: center;
    flex-wrap: wrap; }
  .story {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; }
  .story__provide {
    display: flex;
    flex-wrap: wrap; }
  .footer {
    flex-wrap: wrap; } }

/* BANNER */
.banner {
  background-image: url("../images/imagen banner home.png");
  margin: none;
  margin-left: 0%; }
  .banner .banner__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    height: 500px;
    padding: 2em;
    font-size: 3.2rem; }

.banner__title2 {
  color: #fff; }

.banner__foto {
  display: flex;
  justify-content: center;
  z-index: -2;
  max-width: auto; }

/* OUR HISTORY */
.story {
  background-color: #fff;
  /* display: flex;
        flex-direction: column; */
  padding: 3em;
  margin-top: 0%; }
  .story__ourStory__title {
    color: #231F20;
    padding: 1em;
    font-size: 4em; }
  .story__ourStory .story__text {
    color: #231F20;
    height: 150px;
    padding-left: 17em;
    padding-right: 17em;
    font-size: 1.2em;
    line-height: 3.2rem;
    text-align: center; }
  .story .story__provide .story__provide__title {
    color: #D2232A;
    padding: 1.6rem;
    padding-left: 1em;
    color: #D2232A; }
  .story .story__provide .story__text {
    color: #231F20;
    padding-left: 3em;
    font-size: 1.2em;
    line-height: 3.2rem; }
  .story .titulo__negro {
    color: #231F20; }

/* .story__ourStory {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        siempre estuvo comentado
    }
     */
/* .story__provide {
    
        display: flex;
        justify-content: center;
        
        siempre estuvo comentado
        
    } */
/* WHAT WE OFFER */
.offer {
  background-image: url("../images/imagen empanadas.png");
  background-repeat: no-repeat;
  margin-left: -7.5em;
  margin-right: -7.5em;
  height: 60em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .offer .offer__whatWeOffer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .offer .offer__whatWeOffer__title {
      color: #fff;
      padding: .8em;
      text-align: center;
      font-size: 4em; }
    .offer .offer__whatWeOffer__text {
      color: #fff;
      height: 70px;
      padding-left: 20em;
      padding-right: 20em;
      font-size: 1.2em;
      line-height: 3.2rem;
      text-align: center; }
  .offer .offer__image {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 60%; }
    .offer .offer__image__item {
      display: flex;
      flex-direction: column;
      text-align: center;
      padding: 1.6rem; }
      .offer .offer__image__item .offer__image__button__menu {
        color: #231F20;
        font-size: 0.8em;
        padding-left: 8rem;
        padding-right: 8rem; }

/* GET IN TOUCH */
.touch {
  background-image: url("../images/image 5.png");
  background-repeat: no-repeat;
  margin-left: -7.7em;
  margin-right: -7.7em;
  margin-top: 0;
  margin-bottom: 0;
  height: 60em;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center; }
  .touch h2 {
    font-size: 4em;
    padding: .8em;
    margin-top: 2em;
    text-align: center; }
  .touch p {
    color: #fff;
    padding-left: 17em;
    padding-right: 17em;
    font-size: 1.2em;
    line-height: 3.2rem;
    text-align: center; }
