@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;600&display=swap');


/* MISC */
@import './misc/_variables';
@import './misc/_normalize';
@import './misc/_media';
@import './misc/_mixin' ;
@import './misc/_extends';


/* PARTIALS */

@import './partials/_header';
@import './partials/_footer';


/* PAGES */

@import './pages/_index';
@import './pages/_about';
@import './pages/_carrers';
@import './pages/_contactUs';
@import './pages/_menu';

/* MEDIA QUERY */

@import './misc/_media';




/* BANNER */

.banner {
      
    
    background-image: url('../images/imagen\ banner\ home.png');
    margin: none;
    margin-left: 0%;
   @extend .generalBanner ;

    .banner__title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        height: 500px;
        padding: 2em;
        font-size: $sp-md;

    }



}


.banner__title2 {
    color: $light;

}



.banner__foto {
    display: flex;
    justify-content: center;

    z-index: -2;

    max-width: auto;
}



/* OUR HISTORY */

.story {

    background-color: $light;
    /* display: flex;
        flex-direction: column; */
    padding: 3em;
    margin-top: 0%;

    &__ourStory__title {
        color: $primary;
        padding: 1em;
        font-size: $text-xxl;
    }

    &__ourStory .story__text {
        color: $primary;
        height: 150px;
        padding-left: 17em;
        padding-right: 17em;
        font-size: $text-sm;

        line-height: $sp-md;
        text-align: center;

    }
 .story__provide {


    .story__provide__title {
    color: $secondary;
    padding: $sp-sm;
    padding-left: 1em;
    color: $accent;
    }
    .story__text {
    color: $primary;
    
    padding-left: 3em;

    font-size: $text-sm;

    line-height: $sp-md;


    }
    
    

    
    }

    .titulo__negro {
    color: $primary;

    }
   

   





}

/* .story__ourStory {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        siempre estuvo comentado
    }
     */





/* .story__provide {
    
        display: flex;
        justify-content: center;
        
        siempre estuvo comentado
        
    } */











/* WHAT WE OFFER */

.offer {
    background-image: url('../images/imagen\ empanadas.png');
    background-repeat: no-repeat;
    margin-left: -7.5em;
    margin-right: -7.5em;
    height: 60em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

        .offer__whatWeOffer {
         display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


                &__title {
                color: $light;
                padding: .8em;
                text-align: center;
                font-size: $text-xxl;

                }

                &__text {
                    color: $light;
                    height: 70px;
                    padding-left: 20em;
                    padding-right: 20em;
                    font-size: $text-sm;

                    line-height: $sp-md;
                    text-align: center;

                }

        
           }


        .offer__image {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 60%;


                &__item {
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    padding: $sp-sm;

                                .offer__image__button__menu {
                                    color: $primary;
                                    font-size: $text-xs;
                                    padding-left: $sp-xl;
                                    padding-right: $sp-xl;

                                }



                }




            }



}













/* GET IN TOUCH */

.touch {
    background-image: url('../images/image\ 5.png');
    background-repeat: no-repeat;
    margin-left: -7.7em;
    margin-right: -7.7em;
    margin-top: 0;
    margin-bottom: 0;
    height: 60em;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;



& h2 {
    font-size: $text-xxl;
    padding: .8em;
    margin-top: 2em;
    text-align: center;

}



& p {
    color: $light;
    padding-left: 17em;
    padding-right: 17em;
    font-size: $text-sm;

    line-height: $sp-md;
    text-align: center;
}






}


