@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;600&display=swap');


/* MISC */
@import './misc/_variables';
@import './misc/_normalize';

@import './misc/_mixin';
@import './misc/_extends';


/* PARTIALS */

@import './partials/_header';
@import './partials/_footer';


/* PAGES */

@import './pages/_index';
@import './pages/_about';
@import './pages/_carrers';
@import './pages/_contactUs';
@import './pages/_menu';

/* MEDIA QUERY */

@import './misc/_media';




/* BANNER */

.bannerPrincipal {


    background-image: url('../images/imagen\ banner\ home.png');
    margin: none;
    margin-left: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 40em;

    .bannerPrincipal__title {


        padding: 2em;
        font-size: $sp-md;


        .bannerPrincipal__title2 {
            color: $light;

        }


    }



}





.banner__foto {
    display: flex;
    justify-content: center;

    z-index: -2;

    /* max-width: auto; */
}



/* OUR HISTORY */

.story {

    background-color: $light;

    padding: 3em;
    margin-top: 0%;

    .story__ourStory {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 5em;
        padding-right: 5em;

        &__title {
            color: $primary;
            padding-top: .5em;
            padding-bottom: 0.5em;
            font-size: $text-xxl;
        }

        .story__text {
            color: $primary;

            padding-left: 16em;
            padding-right: 16em;
            font-size: $text-sm;

            line-height: $sp-md;
            text-align: center;

        }


    }


    .story__provide {
        display: flex;
        flex-direction: row;
        padding: 2em;
        justify-content: center;
        


        .story__provide__img {
            padding: .5em;
            /* .story__provide__img__item {
                 height: 30em;
                 width: 40em;
               
            } */
        }


        .story__provide__sectionImg {



            .story__provide__sectionImg__title {
                color: $secondary;


                color: $accent;
                padding-left: 1em;
                padding-right: 4em;

            }

            .story__provide__sectionImg__text {
                color: $primary;

                padding-left: 2em;
                padding-right: 4em;

                font-size: $text-sm;

                line-height: $sp-md;


            }
        }








        .titulo__negro {
            color: $primary;

        }








    }
}

/* .story__ourStory {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        siempre estuvo comentado
    }
     */





/* .story__provide {
    
        display: flex;
        justify-content: center;
        
        siempre estuvo comentado
        
    } */











/* WHAT WE OFFER */

.offer {
    background-image: url('../images/imagen\ empanadas.png');
    background-repeat: no-repeat;

    width: 100%;
    height: 60em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .offer__whatWeOffer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 6em;


        &__title {
            color: $light;
            padding: .8em;
            text-align: center;
            font-size: $text-xxl;

        }

        &__text {
            color: $light;
            height: 70px;
            padding-left: 25em;
            padding-right: 25em;
            font-size: $text-sm;

            line-height: $sp-md;
            text-align: center;

        }


    }


    .offer__image {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 60%;


        &__item {
            display: flex;
            flex-direction: column;
            text-align: center;
            padding: $sp-sm;

            .offer__image__item__title {
                font-family: playball;
                font-size: $text-lg;
            }


            .offer__image__button__menu {
                color: $primary;
                font-size: $text-sm;
              


            }

            .button2 {
                width: 15em;
                height: 2em;
            }

        }




    }



}













/* GET IN TOUCH */

.touch {
    background-image: url('../images/image\ 5.png');
    background-repeat: no-repeat;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    height: 60em;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
   

    .touch__parrafo {

        display: flex;
        justify-content: center;
        flex-direction: column;

        .touch__parrafo__title {
            display: flex;
            justify-content: center;
            font-size: $text-xxl;
            color: $secondary;
            margin-top: 2em;
            text-align: center;
            font-family: playball;

        }

        .touch__parrafo__text {
            color: $light;
            padding-left: 17em;
            padding-right: 17em;
            font-size: $text-sm;

            line-height: $sp-md;
            text-align: center;
        }

        .touch__parrafo__text__small {
            display: flex;
            justify-content: center;
            text-align: center;
        }
    }
    .form-label {
        color: $light;
        text-align: center;
    }
}



















/* PAGINA PRINCIPAL */
/* PAGINA PRINCIPAL */
/* PAGINA PRINCIPAL */
/* PAGINA PRINCIPAL */

@media screen and (max-width: 950px) {

    .bannerPrincipal {


        background-image: url('../images/imagen\ banner\ home.png');
        margin: none;
        margin-left: 0%;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 25em;

        .bannerPrincipal__title {

            padding: 2em;
            font-size: $sp-md;


            .bannerPrincipal__title2 {
                color: $light;

            }


        }



    }

    .story {
        background-color: $light;
        padding: 2em;
        margin-top: 0%;

        .story__ourStory {

            padding-left: 3em;
            padding-right: 3em;

            .story__text {
                font-size: $text-sm;
                padding-left: 2em;
                padding-right: 2em;


            }

            &__title {
                font-size: $text-lg;
                padding: 0.5em;
            }



        }


        .story__provide {
            display: flex;
            flex-direction: column;

            .story__provide__img {
                width: 100%;
                display: flex;
                justify-content: center;

                .story__provide__img__item {
                    height: 20em;
                    width: 30em;


                }
            }

            .story__provide__sectionImg {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .story__provide__sectionImg__title {
                    font-size: $text-lg;

                }

                .story__provide__sectionImg__text {
                    font-size: $text-sm;
                    text-align: center;
                }
            }
        }




    }

    .offer {


        background-image: url('../images/imagen\ empanadas.png');
        background-repeat: no-repeat;
        width: 100%;

        height: 60em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .offer__whatWeOffer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-bottom: 5em;

            .offer__whatWeOffer__title {
                color: $light;
                padding: .3em;
                text-align: center;
                font-size: $text-xl;

            }

            .offer__whatWeOffer__text {
                color: $light;

                padding-left: 10em;
                padding-right: 10em;

                font-size: $text-sm;

                line-height: $sp-md;
                text-align: center;

            }


        }


        .offer__image {
            display: flex;
            flex-direction: row;
            justify-content: space-around;



            .offer__image__item {
                display: flex;
                flex-direction: column;
                text-align: center;
                padding: $sp-sm;
                width: inherit/2;
                height: inherit/2;

                .offer__image__item__title {
                    font-size: $text-lg;
                }

                .offer__image__button__menu {
                    color: $primary;
                    font-size: $text-xs;
                    padding-left: $sp-lg;
                    padding-right: $sp-lg;

                }



            }




        }





    }

    .touch {
        background-image: url('../images/image\ 5.png');
        background-repeat: no-repeat;
        width: 100%;
        margin-top: 0;
        margin-bottom: 0;
        height: 40em;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
       
    
        .touch__parrafo {
    
            display: flex;
            justify-content: center;
            flex-direction: column;
    
            .touch__parrafo__title {
                display: flex;
                justify-content: center;
                font-size: $text-xl;
                color: $secondary;
                margin-top: 2em;
                text-align: center;
                font-family: playball;
    
            }
    
            .touch__parrafo__text {
                color: $light;
                padding-left: 10em;
                padding-right: 10em;
                font-size: $text-sm;
    
                line-height: $sp-md;
                text-align: center;
            }
    
            .touch__parrafo__text__small {
                display: flex;
                justify-content: center;
                text-align: center;
            }
        }
    }


}


@media screen and (max-width: 650px) {
    .bannerPrincipal {


        background-image: url('../images/imagen\ banner\ home.png');
        margin: none;
        margin-left: 0%;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 15em;

        .bannerPrincipal__title {

            padding: 1em;
            font-size: $sp-sm;


            .bannerPrincipal__title2 {
                color: $light;

            }


        }



    }

    .story {
        background-color: $light;
        padding: 2em;
        margin-top: 0%;

        .story__ourStory {

            padding-left: 3em;
            padding-right: 3em;

            .story__text {
                font-size: $text-xs;
                padding-left: 2em;
                padding-right: 2em;


            }

            &__title {
                font-size: $text-md;
                padding: 0.5em;
            }



        }


        .story__provide {
            display: flex;
            flex-direction: column;

            .story__provide__img {
                width: 100%;
                display: flex;
                justify-content: center;

                .story__provide__img__item {
                    height: 10em;
                    width: 20em;


                }
            }

            .story__provide__sectionImg {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .story__provide__sectionImg__title {
                    font-size: $text-md;

                }

                .story__provide__sectionImg__text {
                    font-size: $text-xs;
                    text-align: center;
                }
            }
        }




    }

    .offer {


        background-image: url('../images/imagen\ empanadas.png');
        background-repeat: no-repeat;
        width: 100%;

        height: 50em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .offer__whatWeOffer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-bottom: 1em;

            .offer__whatWeOffer__title {
                color: $light;
                padding: .1em;
                text-align: center;
                font-size: $text-lg;

            }

            .offer__whatWeOffer__text {
                color: $light;

                padding-left: 12em;
                padding-right: 12em;

                font-size: $text-xs;

                line-height: $sp-sm;
                text-align: center;

            }


        }


        .offer__image {
            display: flex;
            flex-direction: row;
            justify-content: space-around;



            .offer__image__item {
                display: flex;
                flex-direction: column;
                text-align: center;
                padding: $sp-sm;
                width: inherit/2;
                height: inherit/2;

                .offer__image__item__title {
                    font-size: $text-md;
                }

                .offer__image__button__menu {
                    color: $primary;
                    font-size: $text-xs;
                    padding-left: $sp-md;
                    padding-right: $sp-md;

                }



            }




        }





    }
    .touch {
        background-image: url('../images/image\ 5.png');
        background-repeat: no-repeat;
        width: 100%;
        margin-top: 0;
        margin-bottom: 0;
        height: 40em;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
       
    
        .touch__parrafo {
    
            display: flex;
            justify-content: center;
            flex-direction: column;
            
            .touch__parrafo__title {
                display: flex;
                justify-content: center;
                font-size: $text-lg;
                color: $secondary;
                padding-top: 1em;
                text-align: center;
                font-family: playball;
    
            }
    
            .touch__parrafo__text {
                color: $light;
                padding-left: 10em;
                padding-right: 10em;
                font-size: $text-xs;
    
                line-height: $sp-md;
                text-align: center;
            }
    
            .touch__parrafo__text__small {
                display: flex;
                justify-content: center;
                text-align: center;
            }
        }
    }
}