@media screen and (max-width: 850px) {

    .navbar {
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        padding-bottom: 0;
    }

    .menu{
        justify-content: center;
        flex-wrap: wrap;

    }

    .story {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .story__provide {
        display: flex;
        flex-wrap: wrap;

    }

    .footer {
        flex-wrap: wrap;
    }



.carrers {

    @include flex(column, wrap, center, center, no-gap);


        &__title {
            font-size: $text-xl;
            color: $primary;
            padding-bottom: $sp-sm
        }

        &__description{
            font-size: $text-sm;
            color: $primary;
            padding-bottom: $sp-sm;
            padding-left: $sp-sm;
            padding-right: $sp-sm;

        }

        &__list {

            
            display: flex;
            flex-direction: row;
            
            
            
            .carrers__list__item {

          /*   width: 54rem;
            height: 5rem; */
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex-wrap: wrap;
           /*  padding-bottom: $sp-md;
           
           cuando le agrego el paddin no me lee el flex direction column
           */


         }
        
        
        }
    } 

    .mainContactUS {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        font-size: small;
    }






}


