@media screen and (max-width: 850px) {

    .navbar {
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        padding-bottom: 0;
    }

    .menu{
        justify-content: center;
        flex-wrap: wrap;

    }

    .story {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .story__provide {
        display: flex;
        flex-wrap: wrap;

    }

    .footer {
        flex-wrap: wrap;
    }



.carrers {

    @include flex(column, wrap, center, center, no-gap);


        &__title {
            font-size: $text-xl;
            color: $primary;
            padding-bottom: $sp-sm
        }

        &__description{
            font-size: $text-sm;
            color: $primary;
            padding-bottom: $sp-sm;
            padding-left: $sp-sm;
            padding-right: $sp-sm;

        }

        &__list {

            
            display: flex;
            flex-direction: row;
            
            
            
            .carrers__list__item {

          /*   width: 54rem;
            height: 5rem; */
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex-wrap: wrap;
           /*  padding-bottom: $sp-md;
           
           cuando le agrego el paddin no me lee el flex direction column
           */


         }
        
        
        }
    } 

    .mainContactUS {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        font-size: small;
    }






}


@media screen and (max-width: 900px) {


    .story {

        background-color: $light;
        /* display: flex;
            flex-direction: column; */
        padding: 3em;
        margin-top: 0%;
    
        &__ourStory__title {
            color: $primary;
            padding: 1em;
            font-size: $text-xxl;
        }
    
        &__ourStory .story__text {
            color: $primary;
            /* height: 10em; */
            padding-left: 17em;
            padding-right: 17em;
            font-size: $text-sm;
    
            line-height: $sp-md;
            text-align: center;
    
        }
     .story__provide {
    
        &__img {
            size: 10em;
        }
    
        .story__provide__title {
        color: $secondary;
        padding: $sp-sm;
        padding-left: 1em;
        color: $accent;
        }
        .story__text {
        color: $primary;
        
        padding-left: 3em;
    
        font-size: $text-sm;
    
        line-height: $sp-md;
    
    
        }
        
        
    
        
        }
    
        .titulo__negro {
        color: $primary;
    
        }
       
    
       
    
    
    
    
    
    }


}
    
