
@mixin flex($dir, $wrap, $jc, $ai, $gap) {

    display: flex;
    flex-direction: $dir;
    flex-wrap: $wrap;
    justify-content: $jc;
    align-items: $ai;
    gap: $gap;
    
}


@mixin padding ($top, $rigth, $bottom, $left) {

    padding: padding;
    padding-top: $top;
    padding-right: $rigth;
    padding-bottom: $bottom;
    padding-left: $left;
}
    


