/* NORMALIZE */



/* VARIABLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    }
    
    html {
        font-size: 62.5%;
    
    }
    
    body {
    
       
        font-family: $font-secondary;
        font-size: $text-sm;
        color: $secondary;
    
    }
    ul {
        list-style-type: none;
    
    }
    a {
        font-size: $text-md;
        text-decoration: none;
        color: $light;
    
    }
    
    .container {
        max-width: 1250px;
        margin: 0 auto; 
    
    
    }
    
    h2 {
        font-family: $font-primary;
        font-size: $text-xl;
        
        
    }
    
    h3 {
        font-family: $font-secondary;
        font-size: $text-lg;
    
    }
    
    .subtitulos {
    
        font-size: $text-md;
        color: $secondary;
    
    }
    
    a:hover {
        color: $secondary;
    }