header {
  
    background-color: $primary;
   /*  padding: $sp-xs; */
   
   /*  height: 6em; */
    margin-top: 0;
    

}




.navbar{
    display: flex;
    height: inherit;
    
    justify-content: space-between;
    background-color: $primary;
    margin-top: auto;
    flex-wrap: wrap;


        & .navbar__link {
            display: flex;
            flex-direction: row;
            height: inherit;
            flex-wrap: wrap;
            
        
                    .navbar__link__img {
                    align-items: center;
                    justify-content: center;
                    width: 10em;

                    }


        }


        .menu {
            display: flex;
            flex-direction: row;
            justify-content: end;
            align-items: center;
            height: inherit;
            flex-wrap: wrap;
        
        
                    & .menu__link {

                        padding: 1rem 1.5rem;



                        
                    }
                        








        }







}







