.banner__about {
    background-image: url('../images/image\ 6.png');
    @extend .bannerPages ;

    }
    
.about {
    padding-bottom: 5em;
    padding-bottom: 5em;
    

    .about__parrafo {


            &__title {
                    color: $primary;
                    padding-bottom: 1em;
                    }


            &__text {

                color: $primary;
                font-size: $text-sm;
                font-family: $font-secondary;
                
                line-height: $sp-md;
                        
                        }






    }
        






}




