.banner__about {
    background-image: url('../images/image\ 6.png');
    @extend .bannerPages ;

    }
    
.about {
    padding-bottom: 10rem;
    
    padding-top: 10rem;

    .about__parrafo {

       
            &__title {
                    color: $primary;
                    padding-bottom: 1em;
                    }


            &__text {

                color: $primary;
                font-size: $text-sm;
                font-family: $font-secondary;
                
                line-height: $sp-md;
                        
                        }






    }
        






}




