/* .mainCarrers {
    min-height: 100vh;
} */

.banner__carrers {
    background-image: url('../images/image\ 8.png');
    @extend .bannerPages ;

    }

.carrers {

    @include flex(column, wrap, center, center, no-gap);
    padding-top: 10rem;
    padding-bottom: 10rem;

        &__title {
            font-size: $text-xxl;
            color: $primary;
            padding-bottom: $sp-md
        }

        &__description{
            font-size: $text-sm;
            color: $primary;
            padding-bottom: $sp-md;

        }

        &__puestos {

            
            display: flex;
            flex-direction: row;
            
            
            
            
            .carrers__puestos__list {
            font-size: $text-md;
          /*   width: 54rem;
            height: 5rem; */
            @include padding(0,10rem,0,10rem);
            
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            justify-content: space-between;
            flex-wrap: wrap;

            &__item {

                @include padding(0, 2rem, 0, 2rem);
                display: flex;
                flex-wrap: wrap
            }

             


        }



        }

    
        .carrers__form {
            @include padding(5rem,15rem,5rem,15rem);

            &__title {
                font-size: $text-md;
                color: rgba(36, 36, 36, 0.984);
                text-align: center;
            }


        }

      
   

      }





